{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/afficher_rider.css')}}"> 
{% endblock %}
{% block content %}
<div class="container">
        {% for v in values[1:] %}
        {% if v[0]!=''%}
            <div class="fiche">
                <a href="{{ url_for('fiche_rider', informations = ','.join(v), base = ','.join(values[0]))}}">{{ v[2]}}{{ v[3] }}</a>
            </div>
        {%endif%}
        {% endfor %}


</div>
{% endblock %}
