{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ajout.css') }}"> 
{% endblock %}
{% block content %}
<form action="{{ url_for('save_style_musique') }}" method="POST" enctype="multipart/form-data">
    <section class="nouvel_style_musique">
        <label for="nom_style_musique">Nom du style musical</label>
        <input type="text" name="nom_style_musique" maxlength="42" required/>
    </section>
    <input class="valider" type="submit" id="valider" name="valider" value="Valider l'ajout de ce style musical"/>
</form>
{% endblock %}
