{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ajout.css') }}"> 
{% endblock %}
{% block content %}
<h2>Modification du matériel manquant</h2>
<form action="{{ url_for('save_equipements_concert', id_concert=id_concert) }}" method="POST" enctype="multipart/form-data">
    <section>
        {% if equipements|length != 0 %}
        {% for equipement in equipements %}
        <label for="{{ equipement[0] }}">{{ equipement[1] }} (nécessaire: {{ equipement[2] }})</label>
        <input type="number" name="{{ equipement[0] }}" min="0" max="{{ equipement[2] }}" value="{{ equipement[3] }}" required/>
        {% endfor %}
        {% else %}
        <p>Il n'y a pas de matériel manquant pour ce concert.</p>
        {% endif %}
    </section>
    <input class="valider" type="submit" id="valider" name="valider" value="Valider l'ajout de ces équipements"/>
</form>
<div class="annuler">
    <a href="{{ url_for('concert', id=id_concert) }}">Revenir à la page du concert sans modifier les équipements</a>
</div>
{% endblock %}
