{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/creer_concert.css') }}">
{% endblock %}
{% block content %}
<form role="form" method="POST" action="{{ url_for('save_salle') }}" enctype="multipart/form-data">
    <div id="partie-one">
        <div class="container">
            <input type="file" name="image" id="image-input">
            <script src="{{ url_for('static', filename='js/charge_img.js') }}"></script>
            <img id="image-charge" src="" alt="Glisser/Déposer une image" width=10% height=10%>
        </div>
        <div id="partie-principal">
            <label for="titre">Nom de la salle <span style="color: orange;">*</span></label>
            <input type="text" name="titre" maxlength="42" required/>
            <div id="partie-principal-two">
                <div class="items">
                    <div class="mettre-droite">
                        <label for="typeplace">Type de salle</label>
                        <a class="lien_blank" href="{{ url_for('ajout_type_salle') }}"><button type="button">Créer un nouveau type</button></a>
                    </div>
                    <select name="type_salle">
                        {% for type_salle in types %}
                        <option value="{{ type_salle[0] }}">{{ type_salle[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="items padding-top">
                    <label class="lien_blank" for="profondeur">Profondeur de la scene</label>
                    <input type="number" name="profondeur" value="0" required min="0"/>
                </div>
                <div class="items padding-top">
                    <label for="longueur">Longeur de la scene</label>
                    <input type="number" name="longueur" value="0" required min="0"/>
                </div>
            </div>
        </div>
    </div>
    <div id="seconde-partie">
        <div id="partie-one">
            <div class="mettre-dessous">
                <label for="adresse">Adresse de la salle <span style="color: orange;">*</span></label>
                <input type="text" name="adresse" maxlength="250" required/>
            </div>
            <div class="mettre-dessous">
                <label for="postalville">Code postal et ville de la salle (ex : 45000 Orléans) <span style="color: orange;">*</span></label>
                <input type="text" name="postalville" maxlength="250" required/>
            </div>
            <div class="mettre-dessous">
                <label for="place">Nombre de place</label>
                <input type="number" name="place" value="0" required min="0"/>
            </div>
        </div>
        <div id="partie-two">
            <div class="mettre-dessous resize">
                <label for="telephone">Numéro de téléphone de la salle</label>
                <input type="text" name="telephone" maxlength="42"/>
            </div>
            <div class="rz">
                <input class="margin" type="checkbox" id="accueilpmr" name="accueilpmr"/>
                <label for="accueilpmr">La salle accueille les personnes à mobilité réduite</label>
            </div>
            <div class="rz">
                <input class="margin" type="checkbox" id="loge" name="loge"/>
                <label for="loge">La salle possède une loge</label>  
            </div>
        </div>
    </div>
    <div class="mettre-dessous">
        <label class="nuits" for="description">Description de la salle (max 500)</label>
        <textarea id="desc" name="description" maxlength="500"></textarea>
    </div>
    <input id="ajouter_concert" type="submit" value="Enregistrer la salle">
</form>
{% endblock %}
