{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ajout.css') }}"> 
{% endblock %}
{% block content %}
<form action="{{ url_for('save_logement') }}" method="POST" enctype="multipart/form-data">
    <section class="nouveau_logement">
        <label for="nom_etablissement">Nom de l'établissement</label>
        <input type="text" name="nom_etablissement" placeholder="Nom" maxlength="42" required/> 
        <label for="nb_etoiles">Nombre d'étoiles</label>
        <input type="number" min="0" max="5" name="nb_etoiles" value="0" required/> 
        <label for="adresse">Adresse</label>
        <input type="text" name="adresse" placeholder="Adresse" maxlength="42" required/>
    </section>
    <input class="valider" type="submit" id="valider" name="valider" value="Valider l'ajout de ce logment"/>
</form>
{% endblock %}
