{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ajout_artiste.css')}}"> 
{% endblock %}
{% block content %}
<div class="container">
    <h2>Formulaire d'Information</h2>
    <form action="{{ url_for('save_artiste') }}" method="POST">
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" required>
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" required>
        <label for="nom_scene">Nom de scène:</label>
        <input type="text" id="nom_scene" name="nom_scene" required>
        <label for="genre">Genre musical :</label>
        <select name="genre" id="genre">
            {% for style in styles %}
            <option>{{ style[0] }}</option>
            {% endfor %}
        </select>
        <label for="mail">Email:</label>
        <input type="email" id="mail" name="mail" required>
        <label for="telephone">Téléphone:</label>
        <input type="tel" id="telephone" name="telephone" required>
        <label for="date_naissance">Date de Naissance:</label>
        <input type="date" id="date_naissance" name="date_naissance" required>
        <label for="lieu_naissance">Lieu de Naissance:</label>
        <input type="text" id="lieu_naissance" name="lieu_naissance" required>
        <label for="adresse">Adresse:</label>
        <input type="text" id="adresse" name="adresse" required>
        <label for="num_secu_sociale">Numéro de Sécurité Sociale:</label>
        <input type="text" id="num_secu_sociale" name="num_secu_sociale" required>
        <label for="conge_spectacle">Congé pour le Spectacle:</label>
        <select id="conge_spectacle" name="conge_spectacle">
            <option value="oui">Oui</option>
            <option value="non">Non</option>
        </select>
        <label for="cni">Numéro de la CNI:</label>
        <input type="text" id="cni" name="cni" required>
        <label for="date_delivrance">Date de Délivrance de la CNI:</label>
        <input type="date" id="date_delivrance" name="date_delivrance" required>
        <label for="date_expiration">Date d'Expiration de la CNI:</label>
        <input type="date" id="date_expiration" name="date_expiration" required>
        <label for="carte_train">Carte de Réduction Train:</label>
        <input type="text" id="carte_train" name="carte_train" required>
        <label for="comment">Commentaire (max. 500 caractères):</label>
        <textarea id="comment" name="comment" rows="4" maxlength="500"></textarea>
        <button type="submit" id="submitBtn">Valider</button>
    </form>
</div>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock %}