{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/creer_concert.css') }}">
{% endblock %}
{% block content %}
<form role="form" method="POST" action="{{ url_for('save_salle') }}" enctype="multipart/form-data">
    <div class="container">
        <input type="file" name="image" id="image-input">
        <script src="{{ url_for('static', filename='js/charge_img.js') }}"></script>
        <img id="image-charge" src="" alt="Glisser/Déposer une image" width=10% height=10%>
    </div>
    <section class="section_creer sec1">

        <div>
            <label for="titre">Nom de la salle <span style="color: orange;">*</span></label>
            <input type="text" name="titre" maxlength="42" required/>
            <label for="place">Nombre de place</label>
            <input type="number" name="place" value="0" required min="0"/>
            <section class="section_creer sec6">
                <label for="typeplace">Type de salle</label>
                <select name="type_salle">
                    {% for type_salle in types %}
                    <option value="{{ type_salle[0] }}">{{ type_salle[1] }}</option>
                    {% endfor %}
                </select>
                <a href="{{ url_for('ajout_type_salle') }}" target="_blank"><button type="button">Créer un nouveau type</button></a>
            </section>
            <label for="profondeur">Profondeur de la scene</label>
            <input type="number" name="profondeur" value="0" required min="0"/>
            <label for="longueur">Longeur de la scene</label>
            <input type="number" name="longueur" value="0" required min="0"/>
            <label for="adresse">Adresse de la salle <span style="color: orange;">*</span></label>
            <input type="text" name="adresse" maxlength="250" required/>
            <label for="postalville">Code postal et ville de la salle (ex : 45000 Orléans) <span style="color: orange;">*</span></label>
            <input type="text" name="postalville" maxlength="250" required/>
            <label for="telephone">Numéro de téléphone de la salle</label>
            <input type="text" name="telephone" maxlength="42"/>
            <div>
                <input type="checkbox" id="accueilpmr" name="accueilpmr"/>
                <label for="accueilpmr">La salle accueille les personnes à mobilité réduite</label>
            </div>
            <div>
                <input type="checkbox" id="loge" name="loge"/>
                <label for="loge">La salle possède une loge</label>  
            </div>
            <label for="description">Description</label>
            <input type="text" name="description" maxlength="500"/> 
        </div>
    </section>
    <input type="submit" id="valider" name="valider" value="Valider l'ajout de cette salle"/>
</form>
{% endblock %}
