{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ajout.css') }}"> 
{% endblock %}
{% block content %}
<h2>Modification du matériel nécessaire</h2>
<form action="{{ url_for('save_necessaire_concert', id_concert=id_concert) }}" method="POST" enctype="multipart/form-data">
    <section>
        {% for equipement in equipements %}
        <label for="{{ equipement[0] }}">{{ equipement[1] }}</label>
        <input type="number" name="{{ equipement[0] }}" min="0" value="{{ equipement[2] }}"/>
        <input type="hidden" name="hidden{{ equipement[0] }}" value="{{ equipement[2] }}"/>
        {% endfor %}
    </section>
    <input class="valider" type="submit" id="valider" name="valider" value="Valider l'ajout de ces équipements"/>
</form>
<p>
    <a href="{{ url_for('concert', id=id_concert) }}">Revenir à la page du concert sans modifier les équipements nécessaires</a>
</p>
{% endblock %}
