{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/artiste.css')}}"> 
{% endblock %}
{% block content %}
<h2>{{ artiste[4] }} {{ artiste[3] }}</h2>
<div>
    <p>nom de scene : {{ artiste[16] }}</p>
    <p>mail : {{ artiste[2] }}</p>
    <p>telephone : {{ artiste[1] }}</p>
    <p>date de naissance : {{ artiste[5] }}</p>
    <p>lieu de naissance : {{ artiste[6] }}</p>
    <p>adresse : {{ artiste[7] }}</p>
    <p>numéro de securite sociale : {{ artiste[8] }}</p>
    <p>cni : {{ artiste[10] }}</p>
    <p>date de delivrance du cni : {{ artiste[11] }}</p>
    <p>date expiration_cni : {{ artiste[12] }}</p>
    <p>carte reduction : {{ artiste[13] }}</p>
</div>
<div>
    <a href="{{ url_for('supprimer_artiste', id_artiste=artiste[0]) }}">supprimer l'artiste</a>
</div>
{% endblock %}