<!doctype html>
<html lang="fr">

<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
  <script src="{{ url_for('static', filename='js/base.js')}}"></script>
  <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

  <!-- Bootstrap CSS -->
  {% endblock %}
  <title>ConcertPro</title>
  {% endblock %}
</head>

<body>
  <header id="header">
    <div>
      <img class="menu-link" src="{{ url_for('static', filename='images/menu.png')}}" alt="" onclick="toggleContainerClass()">
    <div class="deroulant">
      <nav id="menu">
        <ul class="mobile-nav" id="mobile">
          <li class="menu-item menu-item-has-children">
            <ul class="sub-menu">

              <li class="menu-item">
                <a href="{{ url_for('voir_concerts') }}">Concert</a>
              </li>
              <li class="menu-item">
                <a href="{{ url_for('voir_salles') }}">Salle</a>
              </li>
              <li class="menu-item">
                <a href="{{ url_for('voir_artistes') }}">Artiste</a>
              </li>
              <li class="menu-item">
                <a href="{{ url_for('voir_logements') }}">Logement</a>
              </li>
              <li class="menu-item">
                <a href="{{ url_for('plan_feu') }}">Plan Feu</a>
              </li>
              <li class="menu-item">
                <a href="{{ url_for('afficher_rider') }}">Rider</a>
              </li>
              <li class="menu-item">
                <a href="{{ url_for('voir_equipements') }}">Equipement</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    </div>
    
    <div id="div-title">
      <a id="title" href="{{ url_for('accueil') }}">ConcertPro</a>
    </div>

  </header>
  <main class="main">
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <ul>
      <li>SEVELLEC Maxime (Chef de projet)</li>
      <li>MENJIKOFF-GUILLOT Noa</li>
      <li>BRISSET Leo</li>
      <li>ÖZOCAK Ibrahim</li>
      <li>ROUSSELET Juliette</li>
    </ul>
  </footer>
  {% block scripts %}
  <!-- Optional JavaScript -->
  {% endblock %}
</body>

</html>