<!doctype html>
<html lang="fr">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block styles %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
      <!-- Bootstrap CSS -->
    {% endblock %}
    <title>ConcertPro</title>
    {% endblock %}
  </head>
  <body>
    <header>
      ConcertPro
      <nav>
        <ul>
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Créer un concert</a></li>
          <li><a href="#">Voir les prochains concerts</a></li>
          <li><a href="#">Ajouter une nouvelle salle</a></li>
          <li><a href="#">Voir toutes les salles</a></li>
          <li><a href="#">Historique des concerts passés</a></li>
        </ul>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <ul>
        <li>SEVELLEC Maxime (Chef de projet)</li>
        <li>BRISSET Leo</li>
        <li>ÖZOCAK Ibrahim</li>
        <li>MENJIKOFF-GUILLOT Noa</li>
        <li>ROUSSELET Juliette</li>
      </ul>
    </footer>
    {% block scripts %}
      <!-- Optional JavaScript -->
    {% endblock %}
  </body>
</html>
