<!doctype html>
<html lang="fr">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block styles %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
      <!-- Bootstrap CSS -->
    {% endblock %}
    <title>ConcertPro</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <div id="navbar">
        <img src="{{ url_for('static', filename='images/logo-no-background.png')}}" alt="">
        <nav>
          <ul class="ul_base">
            <li class="li_base"><a href="{{url_for('accueil')}}">Accueil</a></li>
            <li class="li_base"><a href="{{url_for('creer_concert')}}">Créer un concert</a></li>
            <li class="li_base"><a href="{{url_for('voir_prochains_concerts')}}">Voir les prochains concerts</a></li>
            <li class="li_base"><a href="{{url_for('ajout_nouvelle_salle')}}">Ajouter une nouvelle salle</a></li>
            <li class="li_base"><a href="{{url_for('voir_salles')}}">Voir toutes les salles</a></li>
            <li class="li_base"><a href="{{url_for('historique_concerts')}}">Historique des concerts passés</a></li>
          </ul>
        </nav>
      </div>
      {% block header %}
      {% endblock %}
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <ul class="ul_base">
        <li class="li_base">SEVELLEC Maxime (Chef de projet)</li>
        <li class="li_base">BRISSET Leo</li>
        <li class="li_base">ÖZOCAK Ibrahim</li>
        <li class="li_base">MENJIKOFF-GUILLOT Noa</li>
        <li class="li_base">ROUSSELET Juliette</li>
      </ul>
    </footer>
    {% block scripts %}
      <!-- Optional JavaScript -->
    {% endblock %}
  </body>
</html>
