{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/concert.css')}}"> 
{% endblock %}
{% block content %}

<div class="container">
    <div class="sous-container">
        <h2>{{ concert[1] }}</h2>
        {% if concert[-1] is none %}
        <img class="img_acc"  src="{{ url_for('static', filename='images/aucune_image.png') }}" alt="img">
        {% else %}
        <img class="img_acc" src="{{ url_for('static', filename='images/concerts/' + concert[0]|str + '.jpg') }}" alt="img">
        {% endif %}
    </div>
    <div class="infos">
        <p>id : {{ concert[0] }}</p>
        <p>date : {{ concert[2] }}</p>
        <p>duree : {{ concert[3] }} minutes</p>
        <p>description : {{ concert[6] }}</p>
        <p>Nom artiste : {{ artiste[3] }}</p>
        <p>Nom de la salle : {{ salle[3] }}</p>
        <p>Description : {{ concert[6] }}</p>
    </div>
</div>
<div class="bouton">
    {% if concert is not none %}
        <a href="{{ url_for('supprimer_concert', id=concert[0]) }}" class="supprimer">supprimer le concert</a>
    {% endif %}
</div>
<div>
    <a href="{{ url_for('modifier_concert', id_concert=concert[0]) }}">modifier le concert</a>
</div>
<h2> Les instruments utilisés lors du concert </h2>
<div class="instruments">
    <ul>
        {% for i in range (equipement|length) %}
        <li>
            <p>{{ equipement[i][2] }} {{ equipement[i][1] }}</p>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}
