{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/couts.css')}}"> 
{% endblock %}
{% block content %}
<div class="modif">
    <form action="{{ url_for('modifier_couts', id=couts[0][0]) }}" method="post">
    <p> <strong>Cout matériel :</strong>  <input name="materiel" required value="{{ couts[0][2] }}"> </p>
    <p> <strong>Cout artiste :</strong> <input name="artiste" required value="{{ couts[0][3] }}"> </p>
    <p> <strong>Cout salle :</strong> <input name="salle" required value="{{ couts[0][6] }}"> </p>
    <p> <strong>Cout logement :</strong> <input name="logement" required value="{{ couts[0][4] }}"> </p>
    <p> <strong>Cout autre :</strong> <input name="autre" required value="{{ couts[0][5] }}"> </p>

    <button type="submit">Modifier</button>
    </form>
    <a href="{{ url_for('concert', id=couts[0][1]) }}">Retour</a>
</div>
{% endblock %}