{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/creer_concert.css')}}"> 
{% endblock %}
{% block content %}
<form role="form" method="POST" action="{{ url_for('save_concert') }}" enctype="multipart/form-data">
    <a id="copyButton">Copier le lien du questionnaire du rider pour l'envoyer à l'artiste</a>

    <script>
        document.getElementById('copyButton').addEventListener('click', function() {
            var tempInput = document.createElement('input');
            tempInput.value = 'https://forms.gle/DDBavXAagG24taCZA';
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);
            alert('Lien copié dans le presse-papiers !');
        });
    </script>
    <div class="container">
        <input type="file" name="image" id="image-input">
        <script src="{{ url_for('static', filename='js/charge_img.js') }}"></script>
        <img id="image-charge" src="" alt="Glisser/Déposer une image" width=10% height=10%>
    </div>
    <section class="section_creer sec1">

        <div>
            <label for="titre">Titre du concert <span style="color: orange;">*</span></label>
            <input type="text" name="titre" maxlength="42" required/>
            <label for="date_debut">Date de début <span style="color: orange;">*</span></label>
            <input type="date" name="date_debut" required/>
            <label for="heure_debut">Heure de début (hh:mm) <span style="color: orange;">*</span></label>
            <input type="time" name="heure_debut" min="00:00" max="23:59" required/>
            <label for="duree">Durée (hh:mm) <span style="color: orange;">*</span></label>
            <input type="time" name="duree" min="00:00" max="23:59" required/>
            <section class="section_creer sec2">
                <label for="artiste">Artiste</label>
                <select name="artiste">
                    {% for artiste in artistes %}
                    <option value="">-- Sélectionner un artiste --</option>
                    <option value="{{ artiste[0] }}">{{ artiste[3] }} {{ artiste[4] }}</option>
                    {% endfor %}
                </select>
                <a href="{{ url_for('ajout_artiste') }}" target="_blank"><button type="button">Creer un nouvel artiste</button></a>
            </section>
            <section class="section_creer sec2b">
                <label for="logement">Logement de l'artiste</label>
                <select name="logement">
                    {% for logement in logements %}
                    <option value="" >-- Sélectionner un logement --</option>
                    <option value="{{ logement[0] }}">{{ logement[2] }}</option>
                    {% endfor %}
                </select>
                <a href="{{ url_for('ajout_logement') }}" target="_blank"><button type="button">Ajouter un logement</button></a>
            </section>
            <section class="section_creer sec2c">
                <label for="nuits">Nombre de nuits</label>
                <input type="number" name="nuits" min="0" value="0" required/>
            </section>
            <section class="section_creer sec3">
                <label for="salle">Salle</label>
                <select name="salle">
                    {% for i in range(salles|length) %}
                    <option value="">-- Sélectionner une salle --</option>
                    <option value="{{ salles[i][0]}}">{{ salles[i][3] }} ({{ types[salles[i][0]] }})</option>
                    {% endfor %}
                </select>
                <a href="{{ url_for('ajout_nouvelle_salle') }}" target="_blank"><button type="button">Créer une nouvelle salle</button></a>
            </section>
            <section class="section_creer sec4">
                <label for="description">Description du concert (max 500)</label>
                <textarea name="description" maxlength="500"></textarea>
            </section>
        </div>
    </section>
    
    <input type="submit" value="Enregistrer le concert">
</form>
{% endblock %}