{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/creer_concert.css')}}"> 
{% endblock %}
{% block header %}
<h1>Créer un concert</h1>
{% endblock %}
{% block content %}
<form action="">
    <section>
        <input type="file" name="image_concert" accept="image/png, image/jpeg"/>
        <div>
            <input type="text" name="titre" required placeholder="Titre du concert"/>
            <input type="text" name="type" required placeholder="Type du concert"/>
            <label for="start">Date de début</label>
            <input type="date" id="start" name="date_debut"/>
            <label for="start">Date de fin</label>
            <input type="date" id="start" name="date_fin"/>
        </div>
    </section>
    <section>
        <label for="artiste">Artiste</label>
        <select name="artiste">
            {% for artiste in artistes %}
            <option>{{ artiste.nom }}</option>
            {% endfor %}
        </select>
        <button>Creer un nouvel artiste</button>
    </section>
    <section>
        <label for="description">Description du concert</label>
        <textarea name="description"></textarea>
    </section>
</form>
{% endblock %}