{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/equipement.css')}}"> 
{% endblock %}
{% block content %}
<div class="tete-page">
    <a href="{{url_for('voir_equipements')}}"><img class="retour" src="../static/images/retour.png" alt="fleche"></a>
    <h1>{{ equipement[1] }}</h1>
</div>
<div class="btn">
    <a class="bouton" href="{{ url_for('modifier_equipement', id_equipement=equipement[0]) }}" class="modifier">Modifier l'équipement</a>
    <a class="bouton" href="{{ url_for('supprimer_equipement', id_equipement=equipement[0]) }}" class="supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette equipement,  cette action est irréversible??');">Supprimer l'équipement</a>
</div>
    {% endblock %}