{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/historique_concert.css')}}"> 
{% endblock %}
{% block content %}
<div class="conteneur">
    {% for concert in concerts %}
    <div class="div_proc">
        <a href="{{ url_for('concert', nom=concert.nom) }}">
            <img src="{{ url_for('static', filename='images/'+concert.url)}}" alt="" width=10% height=10%/>
            <p>{{ concert.nom }} </p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}