{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/concert.css')}}"> 
{% endblock %}
{% block content %}
<div class="titre">
    <h2>{{ logement[2] }}</h2>
</div>
<div class="container">
    <div class="sous-container">
        {% if logement[-1] is none %}
        <img class="img_acc"  src="{{ url_for('static', filename='images/aucune_image.png') }}" alt="aucune image">
        {% else %}
        <img class="img_acc" src="{{ url_for('static', filename='images/logement/' + logement[0]|str + '.jpg') }}" alt="image pas réussi à charger">
        {% endif %}
    </div>
    <div class="infos">
        <p>{{ logement[3] }} Étoiles</p>
        <p>Adresse : {{ logement[1] }}</p>
    </div>
</div>
<div class="bouton">
    <a href="{{ url_for('supprimer_logement', id_logement=logement[0]) }}" class="supprimer">supprimer le logement</a>
</div>
<div class="bouton">
    <a href="{{ url_for('modifier_logement', id_logement=logement[0]) }}" class="modifier">modifier le logement</a>
</div>
{% endblock %}