{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modif.css')}}"> 
{% endblock %}
{% block content %}
<h2>{{ salle[4] }} {{ salle[3] }}</h2>
<div class="container">
    <form method="POST" action="{{ url_for('confirmer_modif_salle', id_salle=salle[0], nom_salle=salle[3]) }}" enctype="multipart/form-data">
        <div class="container">
            <input type="file" name="image" id="image-input">
            <script src="{{ url_for('static', filename='js/charge_img.js') }}"></script>
            {% if salle[-1] is none %}
            <img id="image-charge" class="img_acc"  src="" alt="Glisser/Déposer une image">
            {% else %}
            <img id="image-charge" class="img_acc" src="{{ url_for('static', filename='images/salle/' + salle[0]|str + '.jpg') }}" alt="image pas réussi à charger">
            {% endif %}
        </div>
        <label for="nom">Nom de la salle :</label>
        <input type="textarea" id="nom" name="nom" required value="{{ salle[3] }}">
        <label for="description">Description :</label>
        <input type="textarea" id="description" name="description" required value="{{ salle[7] }}">
        <label for="loge">Loge :</label>
        <input type="textfield" id="loge" name="loge" required value="{{ salle[2] }}">
        <label for="nombre de places">Nombre de places :</label>
        <input type="textfield" id="nombre de places" name="nombre de places" required value="{{ salle[4] }}">
        <label for="adresse">Adresse :</label>
        <input type="textfield" id="adresse" name="adresse" required value="{{ salle[8] }}">
        <label for="telephone">Téléphone :</label>
        <input type="textfield" id="telephone" name="telephone" required value="{{ salle[9] }}">
        <label for="profondeur scene">Profondeur scene :</label>
        <input type="textfield" id="profondeur scene" name="profondeur scene" required value="{{ salle[5] }}">
        <label for="longueur scene">Longueur scene :</label>
        <input type="textfield" id="longueur scene" name="longueur scene" required value="{{ salle[6] }}">
        <button type="submit">Appliquer les modifications</button>
    </form>
</div>
<div class="annuler">
    <a href="{{ url_for('salle', id=salle[0]) }}">Annuler les modifications</a>
</div>
{% endblock %}