{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modif.css')}}"> 
{% endblock %}
{% block content %}
<h2>{{ concert[1] }}</h2>
<div class="container">
    <form method="POST" action="{{ url_for('confirmer_modif_concert', id_concert=concert[0], nom_concert=concert[1]) }}" enctype="multipart/form-data">
        <div class="container">
            <input type="file" name="image" id="image-input">
            <script src="{{ url_for('static', filename='js/charge_img.js') }}"></script>
            {% if concert[-1] is none %}
            <img id="image-charge" class="img_acc"  src="" alt="Glisser/Déposer une image">
            {% else %}
            {{ concert[-1] | byte_to_image(id='image-charge') }}
            {% endif %}
        </div>
        <label for="nom_concert">Nom du concert <span style="color: orange;">*</span></label>
        <input type="textfield" id="nom_concert" name="nom_concert" required value="{{ concert[1] }}" maxlength="42">
        <label for="artiste">Artiste</label>
        <select name="artiste">
            <option value="">-- Sélectionner un artiste --</option>
            {% for a in artistes %}
                <option value="{{ a[0] }}" {% if concert[4] == a[0] %}selected{% endif %}>
                    {{ a[3] }} {{ a[4] }}
                </option>
            {% endfor %}
        </select>
        <input type="hidden" name="ancien_artiste" value="{{ concert[4] }}">
        <label for="logement">Logement de l'artiste </label>
        <select name="logement">
            <option value="">-- Sélectionner un logement --</option>
            {% for l in logements %}
                <option value="{{ l[0] }}" {% if logement_artiste[0] == l[0] %}selected{% endif %}>
                    {{ l[2] }}
                </option>
            {% endfor %}
        </select>
        <label for="nuits">Nombre de nuits </label>
        <input type="number" id="nuits" name="nuits" value="{{ logement_artiste[2] }}" min="0">
        <label for="salle">Salle :</label>
        <select name="salle">
            <option value="">-- Sélectionner une salle --</option>
            {% for salle in salles %}
                <option value="{{ salle[0] }}" {% if concert[5] == salle[0] %}selected{% endif %}>
                    {{ salle[3] }} 
                </option>
            {% endfor %}
        </select>
        <label for="date_debut">Date de début <span style="color: orange;">*</span></label>
        <input type="date" name="date_debut" required value="{{ date_heure[0] }}"/>
        <label for="heure_debut">Heure de début (hh:mm) <span style="color: orange;">*</span></label>
        <input type="time" name="heure_debut" min="00:00" max="23:59" required value="{{ date_heure[1] }}"/>
        <label for="duree">Durée du concert (hh:mm) <span style="color: orange;">*</span></label>
        <input type="time" name="duree" min="00:00" max="23:59" required value="{{ concert[3]//60 }}:{% if concert[3]%60<10 %}0{% endif %}{{ concert[3]%60 }}"/>
        <label for="description_concert">Description du concert </label>
        <input type="textfield" id="description_concert" name="description_concert" value="{{ concert[6] }}" maxlength="500">
        <button type="submit">Appliquer les modifications</button>
    </form>
</div>
<div class="annuler">
    <a href="{{ url_for('concert', id=concert[0]) }}">Annuler les modifications</a>
</div>
{% endblock %}