{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modif.css')}}"> 
{% endblock %}
{% block content %}
<h2>{{ logement[2] }}</h2>
<div class="container">
    <form method="POST" action="{{ url_for('confirmer_modif_logement', id_logement=logement[0], nom_etablissement=logement[2]) }}" enctype="multipart/form-data">
        <div class="container">
            <input type="file" name="image" id="image-input">
            <script src="{{ url_for('static', filename='js/charge_img.js') }}"></script>
            {% if logement[-1] is none %}
            <img id="image-charge" class="img_acc"  src="" alt="Glisser/Déposer une image">
            {% else %}
            <img id="image-charge" class="img_acc" src="{{ url_for('static', filename='images/logement/' + logement[0]|str + '.jpg') }}" alt="image pas réussi à charger">
            {% endif %}
        </div>
        <label for="nom_etablissement">Nom de l'établissement :</label>
        <input type="textfield" id="nom_etablissement" name="nom_etablissement" required value="{{ logement[2] }}">
        <label for="nb_etoiles">Nombre d'étoiles :</label>
        <input type="textfield" id="nb_etoiles" name="nb_etoiles" required value="{{ logement[3] }}">
        <label for="adresse">Adresse :</label>
        <input type="textfield" id="adresse" name="adresse" required value="{{ logement[1] }}">
        <button type="submit">Appliquer les modifications</button>
    </form>
</div>
<div class="annuler">
    <a href="{{ url_for('logement', id_logement=logement[0]) }}">Annuler les modifications</a>
</div>
{% endblock %}
