{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modif.css')}}"> 
{% endblock %}
{% block content %}
<h2>{{ artiste[4] }} {{ artiste[3] }}</h2>
<div class="container">
    <form method="POST" action="{{ url_for('confirmer_modif_artiste', id_artiste=artiste[0], nom_artiste=artiste[3]) }}" enctype="multipart/form-data">
        <div class="container">
            <input type="file" name="image" id="image-input">
            <script src="{{ url_for('static', filename='js/charge_img.js') }}"></script>
            {% if artiste[-1] is none %}
            <img id="image-charge" class="img_acc"  src="" alt="Glisser/Déposer une image">
            {% else %}
            <img id="image-charge" class="img_acc" src="{{ url_for('static', filename='images/artiste/' + artiste[0]|str + '.jpg') }}" alt="image pas réussi à charger">
            {% endif %}
        </div>
        <label for="nom_de_scene">Nom de scene :</label>
        <input type="textfield" id="nom_de_scene" name="nom_de_scene" required value="{{ artiste[-2] }}">
        <label for="mail">Mail :</label>
        <input type="textfield" id="mail" name="mail" required value="{{ artiste[2] }}">
        <label for="telephone">Téléphone :</label>
        <input type="textfield" id="telephone" name="telephone" required value="{{ artiste[1] }}">
        <label for="date_de_naissance">Date de naissance :</label>
        <input type="textfield" id="date_de_naissance" name="date_de_naissance" required value="{{ artiste[5] }}">
        <label for="lieu_de_naissance">Lieu de naissance :</label>
        <input type="textfield" id="lieu_de_naissance" name="lieu_de_naissance" required value="{{ artiste[6] }}">
        <label for="adresse">Adresse :</label>
        <input type="textfield" id="adresse" name="adresse" required value="{{ artiste[7] }}">
        <label for="numero_secu_sociale">Numéro de sécurité sociale :</label>
        <input type="textfield" id="numero_secu_sociale" name="numero_secu_sociale" required value="{{ artiste[8] }}">
        <label for="cni">CNI :</label>
        <input type="textfield" id="cni" name="cni" required value="{{ artiste[10] }}">
        <label for="date_delivrance_cni">Date de délivrance de la CNI :</label>
        <input type="textfield" id="date_delivrance_cni" name="date_delivrance_cni" required value="{{ artiste[11] }}">
        <label for="date_expiration_cni">Date d'expiration de la CNI :</label>
        <input type="textfield" id="date_expiration_cni" name="date_expiration_cni" required value="{{ artiste[12] }}">
        <label for="carte_de_reduction">Carte de réduction :</label>
        <input type="textfield" id="carte_de_reduction" name="carte_de_reduction" required value="{{ artiste[13] }}">
        <button type="submit">Appliquer les modifications</button>
    </form>
</div>
<div class="annuler">
    <a href="{{ url_for('artiste', id_artiste=artiste[0]) }}">Annuler les modifications</a>
</div>
{% endblock %}