{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/plan.css')}}"> 
{% endblock %}
{% block content %}

  <div class="buttons">
    <button onclick="addShape('circle')">Ajouter Cercle</button>
    <button onclick="addShape('square')">Ajouter Carré</button>
    <button onclick="addShape('rectangle')">Ajouter Rectangle</button>
    <button onclick="removeLastShape()">Supprimer la Dernière Forme</button>
  </div>

  <div class="taille-texte">
    <input type="range" id="sizeSlider" min="10" max="100" value="50">
    <input type="color" id="colorPicker" value="#ff0000">
    <input type="text" id="textInput" placeholder="Texte">
    <button onclick="addText()">Ajouter Texte</button>
  </div>

  <div class="plan">
    <canvas id="canvas" width="800" height="600"></canvas>
    <button onclick="downloadPDF()">Télécharger en PDF</button>
  </div>



  <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
  <script src="{{ url_for('static', filename='js/plan.js')}}"></script>
{% endblock %}
