{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/concert.css')}}"> 
{% endblock %}
{% block content %}

<div class="container">
    <div class="sous-container">
        <h2>{{ salle[3] }}</h2>
        {% if salle is not none %}
        {% if salle[-2] is none %}
        <img class="img_acc"  src="{{ url_for('static', filename='images/aucune_image.png') }}" alt="aucune image">
        {% else %}
        <img class="img_acc" src="{{ url_for('static', filename='images/salle/' + salle[0]|str + '.jpg') }}" alt="image pas réussi à charger">
        {% endif %}
        {% endif %}
    </div>    
    <div class="infos">
        <p>description : {{ salle[7] }}</p>
        <p>loge : {{ salle[2] }}</p>
        <p>nombres places : {{ salle[4] }}</p>
        <p>adresse : {{ salle[8] }}</p>
        <p>telephone : {{ salle[9] }}</p>
        <p>profondeur scene : {{ salle[5] }}</p>
        <p>longeur scene : {{ salle[6] }} </p>
    </div>
</div>
<div class="bouton">
    <a href="{{ url_for('supprimer_salle', id_salle=salle[0]) }}" class="supprimer">supprimer la salle</a>
</div>
<div>
    <a href="{{ url_for('modifier_salle', id_salle=salle[0]) }}">modifier la salle</a>
</div>
<h2> Les instruments utilisés lors du concert </h2>
<div class="instruments">
    <ul>
        {% for i in range (equipement|length) %}
        <li>
            <p>{{ equipement[i][2] }} {{ equipement[i][1] }}</p>
        </li>

        {% endfor %}
    </ul>
    
</div>
{% endblock %}