{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voir_salles.css')}}"> 
{% endblock %}
{% block content %}
<div class="conteneur">
    {% for salle in salles %}
    <div class="div_proc">
        <a href="{{ url_for('salle', nom=salle.nom) }}">
            <img src="{{ url_for('static', filename='images/'+salle.photo)}}" alt="" width=10% height=10%/>
            <p>{{ salle.nom }} </p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}