{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voir_salles.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/boutonPlus.css')}}"> 
{% endblock %}
{% block content %}
<div class="conteneur">
    {% for artiste in artistes %}
    <div class="sous-conteneur">
        <a href="{{ url_for('artiste', id_artiste=artiste[0]) }}">
             {% if artiste[-1] is none %}
            <div class="div_img">
                <img class="img_acc"  src="{{ url_for('static', filename='images/aucune_image.png') }}" alt="aucune image">
            </div>
            {% else %}
            <div class="div_img">
                {{ artiste[-1] | byte_to_image }}
            </div>
            {% endif %}
            <p>{{ artiste[4] }}  {{ artiste[3] }}</p> 
        </a>
    </div>
    {% endfor %}
    {% if artistes|length == 0 %}
    <div>
        <p class="no-result">Aucun artiste n'a été trouvé</p>
    </div>
    {% endif %}
    <a href="{{ url_for('ajout_artiste') }}"><img class="plus" src = "{{ url_for('static', filename='images/plus.png')}}" alt="image"></a>
</div>
{% endblock %}