{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voir_prochains_concerts.css')}}"> 
{% endblock %}
{% block content %}
<div class="conteneur">
    {% for equipement in equipements %}
        <div class="sous-conteneur">
            <a href="{{ url_for('equipement', id_equipement=equipement[0]) }}">
                <p>{{ equipement[1] }}</p>
            </a>
        </div>
    {% endfor %}
</div>
<div class="ajout-btn-equipement">
    <a id="ajout_equipement" href="{{ url_for( 'ajout_equipement' )}}"><button>+</button></a>
</div>
{% endblock %}