{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voir_prochains_concerts.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/boutonPlus.css')}}"> 
{% endblock %}
{% block content %}
<a  href="{{ url_for('ajout_logement') }}"> <img class="plus" src="{{ url_for('static', filename='images/plus.png') }}" > </a>
<div class="conteneur">
    {% for logement in logements %}
        <div class="sous-conteneur">
            <a class="test" href="{{ url_for('logement', id_logement=logement[0]) }}">
                <p class="addrLogement">{{ logement[1] }}</p>
                <p class="nomLogement">{{ logement[2] }}</p>
            </a>
        </div>
    {% endfor %}
    {% if logements|length == 0 %}
    <div class="sous-conteneur">
        <p>Aucun logement n'a été trouvé</p>
    </div>
    {% endif %}
</div>
{% endblock %}