{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voir_prochains_concerts.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/boutonPlus.css')}}"> 
{% endblock %}
{% block content %}
<div class="conteneur">
    {% for i in range (concerts|length) %}
    <div class="sous-conteneur">
        {% if concerts[i][-1] is none %}
        <div class="div_img">
            <img class="img_acc"  src="{{ url_for('static', filename='images/aucune_image.png') }}" alt="img">
        </div>
        {% else %}
        <div class="div_img">
            {{ concerts[i][-1] | byte_to_image }}
        </div>
        {% endif %}
        {% for a in artistes%}
        {% if a[0] == concerts[i][4] %}
            {{ a[-1] | byte_to_image(classe='img_art') }}
        {% endif %}
        {% endfor %}
        <h1>{{ concerts[i][1] }}</h1>
        <div class="personne">
            <img class="img_card" src = "{{ url_for('static', filename='images/Personne.png')}}" alt="image">
            {% for a in artistes%}
            {% if a[0] == concerts[i][4] %}
            <p>Artiste : {{ a[-2] }} </p>
            {% endif %}
            {% endfor %}
        </div>
        <div class="personne">
            <img class="img_card" src = "{{ url_for('static', filename='images/localisation.png')}}" alt="img">
            {% for s in salles%}
            {% if s[0] == concerts[i][5] %}
            <p>Salle : {{ s[8] }} </p>
            {% endif %}
            {% endfor %}
        </div>
        <a class="voir" href="{{ url_for('concert', id=concerts[i][0]) }}">Voir plus  <span>+</span></a>
    </div>
    {% endfor %}
    {% if concerts|length == 0 %}
    <div class="sous-conteneur">
        <p>Aucun concert n'a été trouvé</p>
    </div>
    {% endif %}
    <img class="plus" src = "{{ url_for('static', filename='images/plus.png')}}" alt="image">
</div>
{% endblock %}