{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voir_prochains_concerts.css')}}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/boutonPlus.css')}}"> 
{% endblock %}
{% block content %}
<div class="conteneur">
    {% for i in range (concerts|length) %}
    <div class="sous-conteneur">
        {% if concerts[i][-1] is none %}
            <div class="div_img">
                <img class="img_acc"  src="{{ url_for('static', filename='images/aucune_image.png') }}" alt="img">
            </div>
        {% else %}
        <div class="div_img">
            {{ concerts[i][-1] | byte_to_image }}
        </div>
        {% endif %}
        {% for a in artistes%}
        {% if a[0] == concerts[i][4] %}
            {{ a[-1] | byte_to_image(classe='img_art') }}
        {% endif %}
        {% endfor %}
        <h1>{{ concerts[i][1] }}</h1>
        <div class="personne">
            <img class="img_card" src = "{{ url_for('static', filename='images/Personne.png')}}" alt="image">
            {% for a in artistes%}
            {% if a[0] == concerts[i][4] %}
            <p>Artiste : {{ a[-2] }} </p>
            {%else%}
            <p>Artiste : Aucun artiste associé</p>
            {% endif %}
            {% endfor %}
            {% if artistes|length == 0 %}
            <p>Artiste : Aucun artiste associé</p>
            {% endif %}
        </div>
        <div class="personne">
            <img class="img_card" src = "{{ url_for('static', filename='images/localisateur.png')}}" alt="img">
            {% for s in salles %}
                {% if s[0] == concerts[i][5] %}
                    <p>Salle : {{ s[8] }} </p>
                {% endif %}
            {% endfor %}
            {% if concerts[i][5] is none %}
                <p>Salle : Aucune salle associée</p>
            {% endif %}
        </div>
        <a class="voir" href="{{ url_for('concert', id=concerts[i][0]) }}">Voir plus <span>+</span></a>
    </div>
    {% endfor %}
    {% if concerts|length == 0 %}
    <div>
        <p class="no-result">Aucun concert n'a été trouvé</p>
    </div>
    {% endif %}
    <a href="{{ url_for('creer_concert') }}"><img class="plus" src = "{{ url_for('static', filename='images/plus.png')}}" alt="image"></a>
</div>
<a id="copyButton">Copier le lien du questionnaire du rider pour l'envoyer à l'artiste</a>

    <script>
        document.getElementById('copyButton').addEventListener('click', function() {
            var tempInput = document.createElement('input');
            tempInput.value = 'https://forms.gle/DDBavXAagG24taCZA';
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);
            alert('Lien copié dans le presse-papiers !');
        });
    </script>
{% endblock %}