{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voir_prochains_concerts.css')}}"> 
{% endblock %}
{% block content %}
<div class="conteneur">
    {% for i in range (concert|length) %}
    <div class="sous-conteneur">
        <a href="{{ url_for('concert', id=concerts[i][0]) }}">
            {% if concerts[i][-1] is none %}
            <img class="img_acc"  src="{{ url_for('static', filename='images/aucune_image.png') }}" alt="img">
            {% else %}
            <img class="img_acc" src="{{ url_for('static', filename='images/concerts/' + concerts[i][0]|str + '.jpg') }}" alt="img">
            {% endif %}
            <p>{{ concerts[i][1] }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}