{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voir_artistes.css')}}"> 
{% endblock %}
{% block content %}
<div class="conteneur">
    <div>
        <p><a href="{{ url_for('ajout_artiste') }}">ajouter un artiste</a></p>
    </div>
    {% for artiste in artistes %}
    <div>
        <p><a href="{{ url_for('artiste', nom_artiste=artiste[3]) }}">{{ artiste[4] }} {{ artiste[3] }}</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}