{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/voir_logements.css')}}"> 
{% endblock %}
{% block content %}
<div class="conteneur">
    <div>
        <p><a href="{{ url_for('ajout_logement') }}">ajouter un logement</a></p>
    </div>
    {% for logement in logements %}
    <div>
        <div class="div_proc">
            <a href="{{ url_for('concert', nom=logement[1]) }}">
                {% if logement[-1] is none %}
                <img class="img_acc"  src="{{ url_for('static', filename='images/aucune_image.png') }}" alt="aucune image">
                {% else %}
                <img class="img_acc" src="{{ url_for('static', filename='images/logement/' + logement[0]|str + '.jpg') }}" alt="image pas réussi à charger">
                {% endif %}
                <p>{{ logement[1] }}</p>
            </a>
        </div>
        <a href="{{ url_for('logement', nom_etablissement=logement[2]) }}">{{ logement[2] }}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}