body {
    background-color: #121212;
    color: white;
}

.ul_acc {
    display: flex;
    list-style: none;
    align-items: center;
}


.concert{
    position: relative;
    margin: 3em 1em;
    overflow: hidden;
}

.img_acc {
    width: 20em;
    height: 15em;
}

#semaine{
    color: white;
}

.position-relative{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    padding: 0.8em;
    transform: translateX(-50%);
    background-color: black;
    color: white;
}

.img_acc:hover {
    opacity: 0.8;
    transition: all 0.3s;
}

.banniere {
    width: 100vw;
    height: 30vh;
}

table {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: white; /* Couleur de fond du tableau */
    
}

td, th {
    border: solid 2px rgb(120, 120, 120);
    padding: 10px;
}

.titre-p {
    margin-bottom: 2vw;
    font-size: 40px;
    color: white;
    border-bottom: solid rgb(255, 255, 255, 0.5) 0.01em;
    margin: 0.5em;
    padding-bottom: 0.5em;
}

div {
    text-align: center;
}

.agenda {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.agenda:hover {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}


.a:hover{
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
  }