body {
    margin: 0;
    background-color: rgb(66, 66, 66);
    color: rgb(156, 136, 98);
}

.ul_acc {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
}

.concert img {
    width: 20vw;
}

.li_acc {
    width: 25vw;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    background-color: rgb(90, 90, 90); /* Couleur de fond pour chaque élément li */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.img_acc {
    width: 100%;
    border-radius: 10px;
}

.img_acc:hover {
    opacity: 0.8;
    transition: all 0.3s;
}

.banniere {
    width: 100vw;
    height: 30vh;
}

table {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgb(90, 90, 90); /* Couleur de fond du tableau */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

td, th {
    border: solid 2px rgb(120, 120, 120); /* Couleur de la bordure des cellules */
    padding: 10px;
}

h2 {
    margin-left: 10px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    color: rgb(156, 136, 98);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

span {
    border-bottom: solid rgb(156, 136, 98) 2px;
}

h1 {
    margin-top: 75px;
}

div {
    text-align: center;
}

.agenda {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(156, 136, 98);
    color: rgb(66, 66, 66);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.agenda:hover {
    background-color: rgb(120, 100, 80); /* Couleur de fond au survol du lien */
}
