.fiche{
    width: calc(25% - 20px);
    padding: 20px; /* Espacement intérieur */
    border: 1px solid #948c8c; /* Bordure */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
   
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}