body{
    background-color: #121212;
    color: white;
}

.fiche{
    width: calc(25% - 20px);
    padding: 20px; /* Espacement intérieur */
    margin: 0.8em 0;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.9); /* Ombre légère */
    background-color: #343434;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

.fiche a{
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.35em;
    font-size: 110%;
    opacity: 0.8;
    transition: transform 0.5s, opacity 0.5s;
}

.fiche a:hover{
    transform: scale(1.15);
    opacity: 1;
}