body{
    background-color: #121212;
    color: white;
}

section{
    padding: 40px; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: auto;
    margin: 30px;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.valider{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

div input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    background-color: #121212;
    color: white;
    outline: none; 
}

.valider:hover{
    opacity: 0.8;
    transition: ease-in 0.4s;
}

label{
    margin: 10px;
}


input[type=number] {
    -moz-appearance: textfield;
  }

section input{
    width: 60%;
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    background-color: #121212;
    color: white;
    outline: none; 
}
.annuler a{
    background-color: red;
    border: solid 1px red;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    text-align: center;
}

.annuler {

    display: flex;
    justify-content: center;
    margin: 20px;
}

.annuler:hover{
    opacity: 0.8;
    transition: ease-in 0.4s;
}

.annuler a{
    color: white;
}