section{
    background-color: #f0f0f0; /* Couleur de fond */
    padding: 40px; /* Espacement intérieur */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Ombre légère */ 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: auto;
    margin: 30px;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.valider{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.valider:hover{
    opacity: 0.8;
    transition: ease-in 0.4s;
}

label{
    margin: 10px;
}

section input{
    width: 60%;
    height: 30px;
}