header{
    position: sticky;
    border-bottom: solid black 1px;
    padding-bottom: 12px;
}

body{
    background-color: rgb(248, 248, 248);
    margin: 0;
}

footer{
    background-color: gray;

}

#navbar{
    display: flex;
    
}



.deroulant{
    width: 50px;
    margin: 20px;
}

.animation{
    rotate: 180deg;
    transition: all 0.5s ease-in-out;
}

.animationr{
    rotate: -180deg;
    transition: all 0.5s ease-in-out;
}

a{
    text-decoration: none;
}

.ul_base{
    list-style: none;
    padding: 0;
}

.flex{
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
}

.mobile-menu{
    transform: translateX(-110%);
    transition: all 0.5s ease-in-out;
}

.logo{
    position: absolute;
    right: 0;
}

.nav{
    position: absolute;
    width: 50vw;
    backdrop-filter: blur(7px);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.li_base{
    margin: 50px;
    position: relative;
}

.li_base >a{
    color: black;
    font-weight: bold;
}

  .li_base a{
    color: black;
  }
  
 .cacher{
    display: none;
} 

#navbar>img{
    width: 100px;
    margin-top: 10px;
}


header{
    text-align: center;
    color: black;
    padding: 100;
}

footer ul{
    list-style: none;
}