body{
    color: white;
    background-color: #121212;
}

.tete-page{
    display: flex;
    width: 100%;
    margin: 1em 0 1em 1em;
    color: white;
    align-items: center;
}

.tete-page h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline 2px;
    text-underline-offset: 0.25em;
}

.bouton{
    border-radius: 10px;
    border: solid 0.5px #121212;
    background-color: #343434;
    color: white;
    padding: 10px;
    margin: 10px;
}

.bouton:hover{
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.retour{
    width: 3em;
    aspect-ratio: 1/1;
    transition: 0.3s;
}


