body{
    background-color: #121212;
}

.tete-page{
    display: flex;
    width: 100%;
    margin: 1em 0 1em 1em;
    color: white;
    align-items: center;
}

.tete-page h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline 2px;
    text-underline-offset: 0.25em;
}

.retour{
    width: 3em;
    aspect-ratio: 1/1;
    transition: 0.3s;
}

.retour:hover{
    transform: scale(1.05);
}


.container{
    padding: 20px; /* Espacement intérieur */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: auto;
    background-color: #343434;
}

.info{
    display: flex;
    justify-content: space-around;
    margin: 0.25em  auto 0.25em 0;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px #808080;
    
}

.title{
    margin:0.35em auto 0.35em 0;
    font-weight: bold;
}

.res{
    text-align: right;
}

p{
    color: white;
    opacity: 0.8;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
.bouton{
    border-radius: 10px;
    border: solid 0.5px #121212;
    background-color: #343434;
    color: white;
    padding: 10px;
    margin: 10px;
}

.bouton:hover{
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

textarea{
    width: 50em;
    height: 10em;
}