body{
    background-color: #121212;
}

#canvas {
    border: 1px solid white;
    background-color: #242424;
  }

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.taille-texte{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

input{
  margin: 5px;
}

.plan{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button{
  color: white;
  background: none;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover{
  color: #1ED760;
  transition: color 0.5s;
}