body{
    background-color: #121212;
}

.conteneur {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

.img_acc {
    width: 30em;
    aspect-ratio: 16/9;
    border-radius: 10px 10px 0 0;
}

.img_art{
    border-radius: 50%;
    width: 5em;
    height: 5em;
    z-index: 100000;
    position: relative;
    bottom: 2.5em;
    left: 2em;
}

.personne{
    position: relative;
    top: -2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 0.4em;
}

.personne .img_card{
    width: 2em;
    aspect-ratio: 1/1;
}

.sous-conteneur{
    position: relative;
}

h1{
    color: white;
    position: absolute;
    top: 0;
    padding: 0.2em;
    background-color: black;
}

.sous-conteneur{
    background-color: #242424;
    border-radius: 1em;
    overflow: hidden;
    border: 0.1em solid white;
}

.voir{
    color: black;
    text-decoration: none;
    background-color: white;
    position: relative;
    bottom: 1.5em;
    left: 23em;
    padding: 0.5em;
    border-radius: 10px;
    transition: background-color 0.5s;
}

.voir:hover{
    color: #1DB954;
    transition: color 0.5s ease-in-out;
    transform: scale(1.1);
}