/* Créez un conteneur pour les images */
.conteneur {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Ajustez la largeur des images */
.div_proc {
    max-width: calc(25% - 20px); /* 25% pour 4 images par ligne avec espacement */
    text-align: center; /* Centrez le contenu horizontalement */
}

/* Ajustez la largeur et la hauteur des images */
.div_proc img {
    width: 100%;
    height: auto;
}
