body{
    background-color: #121212;
    color: white;
}

.conteneur {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

.sous-conteneur{
    display: flex;
    width: 20%;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.9);
    background-color: #242424;
}

.test{
    text-align: center;
    transition: transform 0.5s, opacity 0.5s;
}

.test:hover{
    transform: scale(1.06);
    opacity: 1;
}]