.conteneur {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.div_proc {
    max-width: calc(25% - 20px); 
    text-align: center; 
}

.div_proc img {
    width: 100%;
    height: auto;
}
